  <% provide(:title, 'Schedule') %>
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Athletics and Sports</li>
              <li class="active"><a href="#">Soccer</a></li>
              <li><a href="#">Football</a></li>
              <li><a href="#">Tai Ji</a></li>
              <li><a href="#">Yoga</a></li>
              <li class="nav-header">Academics</li>
              <li><a href="#">Math</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Chinese</a></li>
              <li><a href="#">Spanish</a></li>
              <li class="nav-header">Arts and Crafts</li>
              <li><a href="#">Dance</a></li>
              <li><a href="#">Mucis</a></li>
              <li><a href="#">Painting</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

  <div class="span9">
  <table class="table table-bordered" >
    <div style="padding-top: 50px;">
    <h1>Course Confirmation </h1> 
    </div>
     
          <thead>
              <tr>
                    <th>Course Name</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Description</th>      
              </tr>
          </thead>
          <tbody>
                  <tr>
                    <td>Physique Swimming </td>
                    <td>Time</td>
                    <td>Location</td>
                    <td>Course Description</td>  
                  </tr>
                  <tr>
                    <td>Physique Swimming </td>
                    <td>Time</td>
                    <td>Location</td>
                    <td>Course Description</td>  
                  </tr>
                  <tr>
                    <td>Physique Swimming </td>
                    <td>Time</td>
                    <td>Location</td>
                    <td>Course Description</td>  
                  </tr>
                    
          </tbody>
  </table>
  <div style="text-align:center">
    <p><a href="#" class="btn btn-primary btn-large">Schedule</a></p>
</div>
</div>
</div>
</div>

  
  


  
  

